.footer{
    background-color: #4d636f;
    height: 12%;
    display: flex;
    justify-content: center;
    .footer-copyright{
        margin-top: 30px;
        color: white;
        font-size: large;
    }
}