<h1 mat-dialog-title>Student Registration Data</h1>
<mat-dialog-content class="mat-typography">
    <h3>Name : {{userData.name}}</h3>
    <h3>Mobile : {{userData.mobile}}</h3>
    <h3>Email : {{userData.email}}</h3>
    <h3>Date of Birth : {{userData.dob}}</h3>
    <h3>Address : {{userData.address}}</h3>
    <h3>Pin Code : {{userData.pinCode}}</h3>
    <h3>City : {{userData.city}}</h3>
    <h3>State : {{userData.state}}</h3>
    <h3>Blood group : {{userData.bloodgrp}}</h3>
    <h3>Gender : {{userData.gender}}</h3>

    <h3>Subject: {{userData.subject}}</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>