.navbar{
    background-color: #4d636f;
    position: sticky;
    .heading{
        color: white;
        font-size: 25px; 
        font-style: bold;
        font-weight: 600;
    }
}
.menuIcon{
    font-size: 40px;
   
    color:white
}
