<div class="container">
    <mat-card class="card">
        <img src="./assets/wait.png">
    </mat-card>
</div>

<!-- <div class="practice">
    <mat-card class="card m-2 p-4" *ngFor="let content of data.practice">
        <img src="../assets/angular.svg">
        <p>{{content.name}}</p>
    </mat-card>
</div>
<div class="practice">
    <mat-card class="card1 m-2 p-4" *ngFor="let content of data.task">
        <img src="../assets/angular.svg">
        <p>{{content.name}}</p>
    </mat-card>
</div> -->