.container{
    min-height: 100vh;
    padding: 4% 5%;
    font-family: Arial, Helvetica, sans-serif;
   
}
mat-tab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 28%;
    height: fit-content;
    margin: 20px;
    img{
       width:  -webkit-fill-available;
       margin-top: 10px;
       padding-left: 0px;
       padding-right: 0PX;
    }
    p{
        margin-top: 10px;
    }
}

.card1{
    display: flex;
    flex-wrap: wrap;
}


// .card{
//     height: 35vh;
//     width: 15vw;
//     font-size: medium;
//     border: solid 1px #0000ff66;
//     background: #0000ff3d;
// }
// .practice{
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     flex-direction: row;
// }
// .card1{
//     height: 35vh;
//     width: 15vw;
//     font-size: medium;
//     border: solid 1px yellow;
//     background: #ffff0017;
// }