<mat-card class="m-3">
    <mat-card-title>RXJS</mat-card-title>
    <hr>
    <mat-card-subtitle>Observable functions</mat-card-subtitle>
    <mat-card-subtitle>
        <li>of()</li> <button mat-raised-button (click)="ofMethod()">call of()</button>
    </mat-card-subtitle>

    <mat-card-subtitle>
        <li>from()</li> <button mat-raised-button (click)="fromMethod()">call from()</button>
    </mat-card-subtitle>
    <mat-card-subtitle>
        <li>fromEvent()</li> <button mat-raised-button #from>call fromEvent()</button>
    </mat-card-subtitle>
    <mat-card-subtitle>
        <li>interval()</li>
        <button mat-raised-button (click)="interval()">start</button>
    </mat-card-subtitle>
    <mat-card-subtitle>
        <li>timer()</li>
    </mat-card-subtitle>
    <mat-card-subtitle>
        <li>range()</li>
    </mat-card-subtitle>
    <mat-card-subtitle>
        <li>generate()</li> <button mat-raised-button (click)="generate()">call generate() method</button>
    </mat-card-subtitle>
</mat-card>