<mat-list>
    <mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Home</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Task</div>
    <mat-list-item *ngFor="let list of data.task" routerLinkActive="active" [routerLink]="list.url">

        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{list.name}}</div>
        <div mat-line>{{list.date}}</div>

    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Practice</div>
    <mat-list-item *ngFor="let list of data.practice" routerLinkActive="active" [routerLink]="list.url">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{list.name}}</div>
        <div mat-line>{{list.date}}</div>
    </mat-list-item>
</mat-list>