<div class="container">
    <mat-card class="card container">
        <form [formGroup]="loginForm">
            <mat-card-title>Login</mat-card-title>
            <mat-card-subtitle>Please enter Email and Password to Login.</mat-card-subtitle>
            <hr>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Email
                </mat-label>
                <input matInput formControlName="email" maxlength="40" type="email">
                <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                    <span *ngIf="loginForm.controls.email.errors!.required">This field is mandatory.</span>
                    <span *ngIf="loginForm.controls.email.errors!.pattern">Enter proper Email.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Password
                </mat-label>
                <input matInput formControlName="password" maxlength="40" type="password">
                <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                    <span *ngIf="loginForm.controls.password.errors!.required">This field is mandatory.</span>
                    <span *ngIf="loginForm.controls.password.errors!.pattern">Min 8 characters,
                        1 uppercase, 1 lowercase and 1 number</span>
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="submit()" type="submit"
                class="btn mt-1 mb-1">Login</button>
            <div class="container signin">
                <p>Don't have an account? <a [routerLink]="['/','register']">Sign up</a></p>
            </div>
        </form>
    </mat-card>
</div>