.container{
    width: 50vw;
    height: auto;
    padding: 25px;
}
.form-area{
    margin: 5%;
}
.form-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    .form-field{
        width: 22vw;
    }
    .form-field-subject{
        width: 20vw;
        align-self: flex-start;
    }
    
    .radio{
        align-self: center;
        width: 22vw;
    }
}
.subject{
    align-self: center;
}
